
  .headers {
    display: flex;
    list-style: none; /* removes the bullet points from the list items */
    padding: 0; /* removes default padding from the list */
    align-items: center;
    justify-content: center;
    text-size-adjust: 29%;
  }
  
  .headers li {
    display: inline-block;
    margin-right: 8%; /* adds spacing between list items */
    margin-top: 2%;
  }
  .headers li:last-child {
    
    margin-right: 0; /* removes the margin-right from the last list item */
  }
  
  body{
    background-color: #65E3DC;
  }
  
  h1{
                                                    
        color: black;
        display: flex;
        margin-left: 10%; /* adds spacing between list items */
        justify-content: center;
  }
  .imageContainer {
    display: flex;
  
  }
  
  .imageContainer img {
    width: 95%;
    height:30%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 5%;
  }


  