
  .headers {
    display: flex;
    list-style: none; /* removes the bullet points from the list items */
    padding: 0; /* removes default padding from the list */
    align-items: center;
    justify-content: center;
    text-size-adjust: 29%;
  }
  
  .headers li {
    display: inline-block;
    margin-right: 8%; /* adds spacing between list items */
    margin-top: 2%;
  }
  .headers li:last-child {
    
    margin-right: 0; /* removes the margin-right from the last list item */
  }
  
 
  
.image_container img{
   width: 99%;
   height: 50%;
    margin-left: 0.5%;
    margin-bottom: 3%;
    border-radius: 10px;
  }
  .nav-item a{

    display: inline-block;
    margin-left: 6px;
  }